body {
    font-family: Arial;
    text-align: center;
    background-color: #DBEAFE;
}
input {
    padding: 5px;
    width: 200px;
    border: 2px solid  #9a9da1;
}
input:hover{
    border: 2px solid #00319a;
    background-color: #DBEAFE;
}
input:active{
    border: 2px solid #00319a;
    background-color: #DBEAFE;
}
.erro{
    color: red;
}

header, footer{
    background-color:  #00319a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    padding: 20px;
}
#endereco{
    margin-left: 60px;
    background-color: #FFFFFF;
    padding: 20px;
    width: 350px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #00319a;
    box-shadow: 2px 1px 6px 0px;
    text-align: justify;
}
#form{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 500px;
    background-color: #FFFFFF;
    padding: 20px;
    width: 500px;
    height: auto;
    border-radius: 50px;
    border: 2px solid #00319a;
    box-shadow: 2px 2px 6px 0px;
}

label{
    font-weight: bold;
    color: #00319a;
}

button{
    background-color: #8fc1ff;
    border-radius: 4px;
    height: 30px;
    border: 2px solid #00319a;
}

button:hover{
    background-color: #DBEAFE;
    border: 2px solid rgb(167, 167, 167);
    cursor: pointer;
}

button:active{
    background-color: #8fc1ff;
    border: 2px solid #00319a;
}
#telefone {
    margin-left: 25px;
}
#add_telefone{
    font-size: medium;
}
ul{
    text-align: justify;
    color:#7d7d7d;
}
#mostrar_esconder, #botao_senha {
    font-size: 20px;
    cursor: pointer;
}